
body{font-family:'Lato', sans-serif;}
h1,h2,h3,h4,h5,h6{margin:0;padding: 0;}
.brand-color{color:#387bd4;}
.featured-header{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
.featured-header div{min-height:calc(100vh - 50px);}
.header-description{
    padding-top: 7%;
    font-size: 60px;
    color: white;
    width: 45%;
    font-weight: 800;
    word-spacing: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;}
.latest-story {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 24px;
    padding: 5px 30px;
    border: 1px solid white;
    font-weight: 300;
    margin-bottom: 7%;
}
.listed-category{padding-top:50px;padding-bottom:50px;}
#site-navigation{
	border-radius: 0px;
    background-color: #fff;
    height: 50px;
}
.navbar-default {
    border: 0px !important; 
}
.navbar{margin:0;}
.navbar-brand{text-transform: uppercase;}
section.featured-header {height:calc(100vh - 50px);}

.cat-posts{
	list-style-type:none;
	margin-top: 15px;
}
.list-posts{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	margin-right: 15px;
}
.category-heading{
	color: #3636C5;
}
h2 .category-heading::first-word{font-size: 20px;}
.category-heading::after {
    content: "";
    display: block;
    height: 3px;
    width: 8%;
    background: #3636C5;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .header-description{width: 100%;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .header-description{width: 100%;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}